:root {
    --theme-black: #10181d;
    --theme-font: 'Poppins', sans-serif;
    --theme-accent: #ff9848;
    --theme-blue: #082457;
}

/* Global css start */

*,
8::after,
*::before {
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: var(--theme-font);
    line-height: 1.5;
    color: var(--theme-black);
}

a,
a:hover {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

.theme__logo {
    max-width: 317px;
    width: 100%;
    display: block;
}

a {
    display: block;
}

.theme__container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

/* Global css End */

/*Overriding css of wordpress*/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: inherit;
    font-size: inherit;
    color: inherit;
}

body {
    background: inherit;
}

p {
    color: inherit;
}

/*Overriding css of wordpress */


/* Header Start */

.theme__header-top {
    background-color: var(--theme-black);
    padding: 8px 0;
}

.contact__links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.social__links {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: end;
}

.contact__links li a,
.social__links li a {
    color: #fff;
    font-size: 14px;
}

.contact__links li a i {
    color: var(--theme-accent);
    margin-right: 4px;
    transition: 150ms;
}

.social__links li a:hover i {
    color: var(--theme-accent);
    transition: 150ms;
}

.theme__header-navigation>ul {
    display: flex;
    align-items: center;
}

.theme__header-navigation ul li {
    position: relative;
}

.theme__header-navigation ul li a {
    color: color: var(--theme-black);;
    transition: 150ms;
    font-size: 14px;
}

.home .theme__header-navigation ul li a {
    color: #FFF;
}

.theme__header-navigation ul li:hover>a {
    transition: 150ms;
    color: var(--theme-accent);
}

.theme__header-navigation ul li>ul {
    position: absolute;
    width: 240px;
    background-color: #fff;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, .15);
    border-radius: 4px;
    opacity: 0;
    pointer-events: none;
    transition: 150ms;
}
.theme__header-navigation ul li:last-child ul {
    right: 0;
}
.every_service_form .elementor-widget-container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: white;
}

.theme__header-navigation ul li:hover>ul {
    opacity: 1;
    pointer-events: all;
    transition: 150ms;
}

.theme__header-navigation ul li>ul li a {
    padding: 10px 20px;
    font-size: 14px;
    color: var(--theme-black);
}
.home .theme__header-navigation ul li>ul li a {
    color: var(--theme-black);
}
.home .theme__header-navigation ul li>ul li:hover a {
    color: var(--theme-accent);
}
.theme__header-navigation ul li ul li.menu__has-children:hover ul li a {
    color: var(--theme-black);
}
.theme__header-navigation ul li ul li.menu__has-children:hover ul li:hover a {
    color: var(--theme-accent);
}

.theme__header-navigation>ul>li>a {
    padding: 18px;
}

.theme__header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__has-children>i {
    font-size: 12px;
    position: absolute;
    top: 23px;
    right: 3px;
}

.theme__header-main {
    padding: 16px 0;
}

.theme__btn {
    padding: 14px 32px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
    font-weight: 600;
}

.theme__btn-primary {
    background-color: var(--theme-accent);
    transition: 150ms;
    color: #fff;
    border-color: var(--theme-accent);
}

.theme__btn-primary:hover {
    background-color: transparent;
    color: var(--theme-accent);
    transition: 150ms;
}

.menu__has-children a i {
    margin-left: 4px;
    transform: translateY(2px);
}

.theme__header-navigation {
    margin-left: auto;
}

.theme__header-actions {
    margin-left: 8px;
    display: flex;
    gap: 24px;
}

header.theme__header {
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index: 9999;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}
.home header.theme__header {
    background-color: transparent;
    position: fixed;
}

.home header.theme__header.theme__header-fixed {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgb(0 35 90 / 82%);
}

.theme__header-actions .mobile__menu-trigger {
    padding: 14px 18px;
    display: none;
}
.theme__header-navigation ul li ul li>ul {
    left: 100%;
    top: 0;
    margin: 0;
}
.theme__header-navigation ul li ul li.menu__has-children a i {
    transform: rotate(270deg);
}



/* Header End */

/* Footer Start */

.theme__footer {
    background-color: var(--theme-blue);
    padding: 90px 0 0;
    position: relative;

}

.footer__row {
    display: flex;
    justify-content: space-between;
    gap: 56px;
}

.footer__about {
    max-width: 376px;
    width: 100%;
}

.footer__column:first-child {
    width: 30%;
}

.footer__column:first-child .footer__item {
    background-color: #fff;
    padding: 24px;
    border-top: 6px solid var(--theme-accent);
    margin-top: -140px;
}

.footer__about .theme__logo {
    margin-bottom: 32px;
}

.footer__about p {
    text-align: center;
    line-height: 1.8;
}

.footer__about .theme__btn {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

.footer__social-links {
    margin-top: 32px;
}

.footer__social-links {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer__social-links li a {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    border-radius: 50px;
    color: var(--theme-blue);
}

.footer__item h4 {
    font-size: 19px;
    color: #fff;
    margin-bottom: 36px;
}

.footer__navigation li a {
    color: #fff;
    transition: 150ms;
}


.footer__navigation li a:hover {
    color: var(--theme-accent);
    transition: 150ms;
}

.footer__navigation li:not(:last-child) {
    margin-bottom: 18px;
}

.footer__newsletter p {
    color: #b4b4b4;
}

.footer__contact-list li span {
    width: 42px;
    height: 42px;
    display: flex;
    background: var(--theme-accent);
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border-radius: 50px;
    flex-shrink: 0;
}

.footer__contact-list li {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 18px;
}

.footer__contact-list li p {
    color: #b4b4b4;
    font-size: 13px;
    margin-bottom: 8px;
}

.footer__contact-list li a {
    color: #fff;
    transition: 150ms;
}

.footer__contact-list li a:hover {
    color: var(--theme-accent);
    transition: 150ms;
}

.copyright__strip {
    background: #03132E;
    padding: 16px;
    text-align: center;
    color: #fff;
    margin-top: 90px;
    margin-bottom: 0;
}

.newsletter__form .gjs-cell input {
    background: #f8f8f8;
    border: #f8f8f8 1px solid;
    height: auto;
    padding: 16px;
    width: 100%;
    border-radius: 2px;
}

.newsletter__form .gjs-cell input[type="submit"] {
    background-color: var(--theme-accent);
    transition: 150ms;
    color: #fff;
    border-color: var(--theme-accent);
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
}

.newsletter__form .gjs-cell input[type="submit"]:hover {
    background-color: transparent;
}

.footer__item .theme__logo {
    max-width: 100%;
}

/* Footer End */

/* Mobile menu */
.mobile__menu {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    height: 100%;
    background: #fff;
    padding: 32px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    overflow: auto;
    transform: translateX(100%);
    transition: 150ms;
    z-index: 99999;
}

.mobile__menu.active {
    transform: translateX(0);
    transition: 150ms;
}

.mobile__menu-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile__menu .mobile__menu-close-btn {
    padding: 10px 16px;
    font-size: 18px;
}

.mobile__menu-navigation {
    margin-top: 24px;
    padding-top: 24px;
    margin-bottom: 36px;
}

.mobile__menu-navigation li a {
    color: var(--theme-black);
    padding: 8px;
    flex-grow: 1;
}

.mobile__menu-navigation li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #efefef;
}

.mobile__menu-navigation li>ul {
    width: 100%;
    background-color: #f5f5f5;
    padding: 8px;
    margin-top: 8px;
    display: none;
}
.mobile__menu-navigation li ul li > ul {
    display: block !important;
    background-color: #fbfbfb;
    margin-left: 15px;
}
.mobile__menu-navigation li ul li button.theme__btn.theme__btn-primary.mobile__menu-dropdown-btn {
    display: none !important;
}
.mobile__menu-navigation li ul li > ul li:last-child {
    border: none;
}

.mobile__menu-dropdown-btn {
    padding: 4px 12px;

}

.mobile__menu-navigation li>a {
    padding-left: 0;
}

.mobile__menu-navigation>li .mobile__menu-dropdown-btn i {
    transform: rotate(0);
    transition: 150ms;
}

.mobile__menu-navigation>li.active .mobile__menu-dropdown-btn i {
    transform: rotate(180deg);
    transition: 150ms;
}

.mobile__menu .mobile__menu-action .theme__btn {
    width: 100%;
    max-width: 320px;
}

.mobile__menu-navigation li li a {
    padding-left: 14px;
}

/* Mobile menu end */

/* News section start */

.news__content h2 {
    font-size: 18px;
    line-height: 28px;
    color: #00235a;
}

.news__content h2 a {
    color: #00235a;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-overflow: ellipsis;
}

.news__date {
    position: absolute;
    right: 40px;
    top: -65px;
    background-color: #FF5E14;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 16px 17px;
    padding-top: 12px;
    text-transform: capitalize;
    display: block;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}

.news__date span {
    display: block;
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
}

.news__content {
    padding: 32px 40px;
    position: relative;
    background-color: #fff;
}

.elementor .news__item img {
    width: 100%;
    height: 240px;
    background-color: #f6f6f6;
    object-fit: cover;
}

.news__item {
    height: 100%;
    padding-bottom: 30px;
}

.news__item-in {
    border: #e4e4e4 1px solid;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
}

.news__item:hover .news__content h2 a {
    color: #ff5f14;
}

.news__content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width:1199px) {
    .news__content {
        padding: 32px 20px 15px;
    }
}

@media (max-width:767px) {
    .news__content {
        padding: 25px 15px 10px;
    }

    .news__content h2 {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 10px;
    }
}

@media (max-width:575px) {
    .news__item img {
        width: 100%;
        height: auto;
    }

    .news__date {
        right: 20px;
        top: -45px;
        padding: 12px;
        font-size: 24px;
    }

    .news__date span {
        font-size: 12px;
    }

    .news__content p {
        font-size: 14px;
    }

    .news__item {
        padding-bottom: 15px;
    }
}

.post-header {
    background-color: #072457;
    padding: 40px 0;
}

.post-header header.entry-header h1.entry-title {
    color: #FFF;
    font-size: 40px;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
}

.post-header header.entry-header .entry-meta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-header header.entry-header .entry-meta span:before {
    color: #c8c8c8;
}

.post-header header.entry-header .entry-meta a {
    color: #c8c8c8;
}

.post-header header.entry-header .entry-meta span {
    font-weight: 400;
    display: flex;
    align-items: baseline;
    margin: 0 10px;
    font-size: 14px;
}

.post-content .post-img {
    padding: 40px 0;
}

.post-content .post-img img {
    width: 100%;
    height: 100%;
    border: #efeeee 1px solid;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 800px;
}

.single-content-area {
    padding: 0 0 100px;
}
.single-content-area .post-content .entry-content img {
    width: 100%;
    border-radius: 10px;
}

.post-navigattion .nav-links a {
    background-color: #ff9849;
    border: none;
    color: #FFF;
    border-radius: 4px;
}

.post-content .entry-content p,
.post-content .entry-content li {
    font-size: 16px;
}

.post-header header.entry-header .entry-meta span.byline {
    display: none !important;
}

.services__item p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width: 1199px) {
    .post-header header.entry-header h1.entry-title {
        font-size: 36px;
        line-height: 46px;
    }
}

@media (max-width: 991px) {
    .post-header header.entry-header h1.entry-title {
        font-size: 26px;
        line-height: 36px;
    }

    .post-navigattion .nav-links {
        display: flex;
        flex-flow: column;
    }

    .post-navigattion .nav-links .nav-previous,
    .post-navigattion .nav-links .nav-next {
        margin: 6px 0;
        text-align: center;
    }

    .post-navigattion .nav-links a {
        display: inline-block;
    }
}

@media (max-width: 767px) {
    .post-header {
        padding: 30px 0;
    }

    .post-content .post-img {
        padding: 30px 0 10px;
    }

    .post-header header.entry-header h1.entry-title {
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
    }

    .post-content .entry-content p,
    .post-content .entry-content li {
        font-size: 14px;
    }

    .post-navigattion .nav-links a {
        font-size: 14px;
    }
}

/* News section end */

/* Theme form Start */

.theme__form .form-control {
    background: #f8f8f8;
    border-color: #f8f8f8;
    height: auto;
    padding: 16px;
}

.theme__form textarea.form-control {
    max-height: 120px;
    resize: none;
}

.theme__form input.btn.btn-default {
    padding: 14px 32px;
    background: var(--theme-blue);
    margin: auto;
    display: block;
    border-radius: 4px;
    border: 1px solid var(--theme-blue);
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.theme__form input.btn.btn-default:hover {
    background-color: #fff;
    color: var(--theme-blue);
}

.theme__form label {
    color: var(--theme-blue);
    font-family: 'Poppins';
    font-weight: 600;
}

.theme__form .form-group:nth-last-child(2) p {
    text-align: center;
    display: block;
}

.newsletter__form .theme__btn {
    width: 100% !important;
}

.newsletter__form .wpcf7-spinner {
    display: none;
}

/* Theme form End */

.pdf-sec-col div,
.pdf-sec-col div a {
    height: 100%;
    display: block;
}

.pdf-sec-col img {
    height: 100%;
    border: #CCC 1px solid;
}

.faq-list .elementor-accordion .elementor-accordion-item {
    margin-bottom: 15px;
}

/* Responsive Start */

/* Team Page CSS */
.team-box {
    height: 100% !important;
}

.team-box .team-content {
    flex-grow: 1 !important;
}


.linked__list ul li a span.elementor-icon-list-text:hover {
    color: var(--theme-accent);
}


@media(max-width:1399px) {

    .theme__logo {
        max-width: 240px;
    }


    .theme__header-navigation>ul>li>a {
        font-size: 14px;
        padding: 14px;
    }

    .footer__newsletter p {
        font-size: 14px;
    }

    .footer__navigation li a {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1260px) {
    .container {
        width: 100%;
    }
}

@media(max-width:1199px) {

    .theme__container {
        max-width: 991px;
    }

    .theme__logo {
        max-width: 220px;
    }

    .theme__header-actions .theme__btn {
        font-size: 14px;
    }

    .theme__header-navigation>ul>li>a {
        font-size: 12px;
        padding: 12px;
    }

    .footer__item h4 {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .footer__newsletter p br {
        display: none;
    }

    .footer__contact-list li a {
        font-size: 14px;
    }

    .footer__contact-list li a br {
        display: none;
    }

    .footer__about p {
        font-size: 14px;
        line-height: 1.6;
    }

    .footer__column:first-child {
        width: 40%;
    }
}

@media(max-width:1023px) {

    .theme__container {
        max-width: 720px;
    }

    .footer__row {
        flex-wrap: wrap;
    }

    .footer__column {
        width: calc(50% - 28px);
    }

    .footer__column:first-child {
        width: calc(50% - 28px);
    }

    .footer__column:first-child .footer__item {
        margin-top: -80px;
    }

    .theme__footer {
        padding-top: 45px;
    }

    .copyright__strip {
        margin-top: 45px;
    }

    .theme__header-navigation {
        display: none;
    }

    .theme__header-actions .mobile__menu-trigger {
        display: block;
    }

    .contact__links li a,
    .social__links li a {
        font-size: 12px;
    }

}

@media(max-width:767px) {

    .theme__container {
        max-width: 100%;
    }

    .theme__header-top {
        display: none;
    }

    .theme__header-actions .header-get-a-quote {
        display: none;
    }

    .footer__column:first-child {
        width: 100%;
    }

    .footer__column {
        width: 100%;
    }

    .footer__column:first-child .footer__item {
        margin-top: -130px;
        max-width: 100%;
    }
    .footer__column:first-child .footer__item img {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
    }

    .copyright__strip {
        font-size: 14px;
    }

    .theme__logo {
        max-width: 210px;
    }

    .theme__header-actions .mobile__menu-trigger {
        padding: 12px 20px;
    }

    .mobile__menu .mobile__menu-close-btn {
        padding: 5px 12px;
    }

    .mobile__menu {
        padding: 16px;
    }

    .mobile__menu-dropdown-btn {
        padding: 2px 7px;
    }
}

/* Responsive End */